*
{
    padding: 0;
    margin: 0;
}

.smartphone
{
    background-color: rgb(255, 148, 77);
    width: 30vw;
    height: 40vw;
    margin: 0 auto;
}

.colum
{
    margin: 10px;
}

.app
{
    width: 4vw;
    height: 4vw;
    background-color: gray;
    display: inline-flex;
    margin: 1.2vw;
    font-size: calc(1vw + 1vw);

    transition-property: width, height;
    transition-duration: 0.5s;
}

.app:hover
{
    width: calc(4vw + 2vw);
    height: calc(4vw + 2vw);
}